.location {
    background-color: #062226;
    padding: 20px;
    margin: 35px 0;
    border-radius: 10px;
    box-shadow: 5px 4px 10px black;
}

.locationTitle{
    text-align: center;
    margin-bottom: 20px;
    color: #7ab924;
}

.locationList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.locationItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a5a8a8;
}

.locationItem span {
    color: white;
    font-weight: 600;
}